<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Logs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <link rel="stylesheet" type="text/css" href="css/historyStyle.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Derbes Weather</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav2"
            aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Main <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/searchlogs">Weather History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api-logs">API History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/nasa">NASA APOD</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/crypt/crypto/">Crypto Info</a>
                </li>
                <% if (currentUser && (currentUser.username === 'raiymbek_batyr' || currentUser.isAdmin)) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1>Search Logs</h1>
        <div id="map"></div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Object ID</th>
                        <th>Search Time</th>
                        <th>Approximate temperature</th>
                        <th>Clouds</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                    </tr>
                </thead>
                <tbody>
                    <% searchLogs.forEach((log) => { %>
                        <tr>
                            <td><%= log._id %></td>
                            <td><%= new Date(log.searchTime).toLocaleString() %></td>
                            <td><%= log.weatherData.data[0].app_temp %>°C</td>
                            <td><%= log.weatherData.data[0].clouds %>%</td>
                            <td><%= log.weatherData.data[0].lat %></td>
                            <td><%= log.weatherData.data[0].lon %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </div>

    <footer class="bg-light-gray text-white text-center p-3">
        <div class="footer-content">
            <p>&copy; 2024 WeatherApp full name: Batyr Raiymbek, SE-2202</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/script.js"></script>
</body>
</html>